.footer {
	border-top: 1px solid #E7E7E7;
    margin-top: 45px;
    padding: 35px 0 36px;
    text-align: center;
    color: #909090;
}

#colore404 {
	color: 990000;
}

#colore500 {
	color: 999900;
}

#form-top {
	margin-top: 0px;
}