.footer {
	border-top: 1px solid #E7E7E7;
    margin-top: 45px;
    padding: 35px 0 36px;
    text-align: center;
    color: #909090;
}

#colore404 {
	color: 990000;
}

#colore500 {
	color: 999900;
}

#form-top {
	margin-top: 0px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    /*background-color: #;*/
    color: #BBBBBB;
    text-decoration: none;
}

.clickLine {
	cursor: pointer;
}

.aligneSolde {
	text-align: right;
}

.coloreVert {
	color: #015f04;
}
.coloreRouge {
	color: #5f0101;
}

.alignCenter {
	text-align : center;
}

.row, .row-fluid {
	margin : 20px 0px;
}

.colorError {
	color : #B94A48;
	font-weight: bold;
	
}